<script type="text/ng-template" id="order-statistics-general.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <h3>Pending Items</h3>
            <div><a href="javascript:" ng-click="openOrderWithStatus('New')">{{$storage.ordersDashboardStatistics.PendingItems.OrdersPendingApproval}} Order(s) Pending Approval</a></div>
            <div><a href="javascript:" ng-click="openOrderWithStatus('Processing')">{{$storage.ordersDashboardStatistics.PendingItems.OrdersInProcess}} Order(s) In Process</a></div>
            <div>{{$storage.ordersDashboardStatistics.PendingItems.OrdersReadyBilled}} Order(s) Ready to be Billed</div>
            <div>{{$storage.ordersDashboardStatistics.PendingItems.CustomerServiceMessages}} Customer Service Message(s) Pending</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-recent.html">
    <div class="gridster-cnt recent-orders">
        <div class="cnt-inner">
            <h3>Recent Orders</h3>
            <div class="list" ng-repeat="data in $storage.ordersDashboardStatistics.RecentOrders | limitTo:5">
                <a href="javascript:" ng-click="openOrderWithId(data.id)">
                    <div class="col-xs-3">{{data.number}}</div>
                    <div class="col-xs-3">{{data.createdDate | date:'MM/dd/yyyy'}}</div>
                    <div class="col-xs-3">${{data.total}}</div>
                    <div class="col-xs-3">{{data.customerName}}</div>
                </a>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-summary.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <h3>Order Summary</h3>
            <table class="order-summary-stats">
                <tr>
                    <td><strong>Today: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.Today.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>Yesterday: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.Yesterday.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>This Week: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.CurrentWeek.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>Last Week: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastWeek.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>This Month: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.CurrentMonth.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>Last Month: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastMonth.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>Last 6 Month: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastSixMonth.TotalSales}}</td>
                </tr>
            </table>
            <table class="order-summary-stats">
                <tr>
                    <td><strong>2016: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.CurrentYear.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>Projected: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.CurrentYear.Projected}}</td>
                </tr>
                <tr>
                    <td><strong>2015: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastYear.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>past 30 days: </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastThirtyDays.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>past 3 Months (90 days): </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastNinyDays.TotalSales}}</td>
                </tr>
                <tr>
                    <td><strong>past 6 Months (182 days): </strong></td>
                    <td>{{$storage.ordersDashboardStatistics.LastOneHundreEightyTwoDays.TotalSales}}</td>
                </tr>
            </table>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenue.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.revenuePerCustomer track by $index">{{data.amount | number : 2}} {{data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.revenue' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-customersCount.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.customersCount}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.customers-with-orders' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenuePerCustomer.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.revenuePerCustomer track by $index">{{data.amount | number : 2}} {{data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.revenue-per-customer' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-orderValue.html">
    <div class="gridster-cnt" ng-click="openBlade()">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.avgOrderValue track by $index">{{data.amount | number : 2}} {{data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.average-order-value' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-itemsPurchased.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.itemsPurchased}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.items-purchased' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-lineitemsPerOrder.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.lineitemsPerOrder| number : 1}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.lines-per-order' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenueByQuarter.html">
    <div google-chart chart="$storage.ordersDashboardStatistics.chartRevenueByQuarter" style="height:100%"></div>
</script>
<script type="text/ng-template" id="order-statistics-orderValueByQuarter.html">
    <div google-chart chart="$storage.ordersDashboardStatistics.chartOrderValueByQuarter" style="height:100%"></div>
</script>